@page
@model Dissertation.Pages.Tourist.SubmitReviewModel
@{
    ViewData["Title"] = "Submit Review";
    Layout = "_Layout";
}

<h2>Submit a Review</h2>

<div class="reviewContainer">
<form method="post">
    <div class="form-group">
        <label asp-for="Review.ReviewText">Review Text</label>
        <textarea class="form-control" asp-for="Review.ReviewText"></textarea>
        <span asp-validation-for="Review.ReviewText" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Review.Rating">Rating</label>
        <input type="number" class="form-control" asp-for="Review.Rating" min="1" max="5">
        <span asp-validation-for="Review.Rating" class="text-danger"></span>
    </div>
    <button type="submit" class="save-button-left">Submit</button>
</form>
</div>