@page
@model Dissertation.Pages.Business.DashboardModel

<body>
    <header>
        <form id="searchForm" method="post" asp-page-handler="Search">
            <input type="text" id="listingSearch" name="listingName" placeholder="Enter listing name">
            <button type="submit" id="submitButton">Search</button>
        </form>
    </header>

    <main>
        <section id="reviewAnalysis">
            <div class="chart">
                <canvas id="sentimentChart" data-chart-data='@Html.Raw(Json.Serialize(ViewData["SentimentChartData"]))'></canvas>
                <h3 class="chart-title"> Sentiment Analysis </h3>

            </div>

            <div class="chart">
                <canvas id="ratingChart" data-chart-data='@Html.Raw(Json.Serialize(ViewData["RatingChartData"]))'></canvas>
                <h2 class="chart-title">Rating Analysis</h2>

            </div>
        </section>
    </main>

    <footer>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
        <script src="~/script/script.js?v=2"></script>
    </footer>
</body>
</html>
